.product-detail-description{
    width: 100%;
    height: 100vh;
    max-height: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 0 100px;
    text-align: left;
    // background-color: #F3F3F3;

    .pagination{
        font-family: "GtAmericaThin";
        font-size: 16px;
        margin-bottom: 20px;
        span{
            display: flex;
        }
        
    }
    .capacity{
        font-family: "GtAmericaThin";
        font-size: 16px;
        margin-bottom: 40px;
    }
    .pdd-text{
        margin-bottom: 40px;
        h1{
            font-family: "RoslindaleRegular";
            font-size: 52px;
            font-weight: 200;
        }
    }
    .stars{
        font-family: "GtAmericaThin";
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    .pdd-description{
        font-family: "GtAmericaThin";
        font-size: 19px;
        margin-bottom: 30px;
    }
    .facts{
        font-family: "GtAmericaThin";
        font-size: 14px;
        margin-bottom: 40px;
    }
    .price {
        font-family: "GtAmericaThin";
        font-size: 19px;
        margin-bottom: 40px;
    }
    button{
        font-family: "GtAmericaThin";
        padding: 15px;
        display: inline-block; /* Ensure the button fits its content width */
        width: max-content; /* Ensure the button fits its content width */
        
    }
}
